@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';

header {
    background-color: #adfc52;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #232222;
    padding: 10px 0;
    text-align: center;
  }
  
  .menu {
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  .menu a {
    color: #2b2b2b;
    text-decoration: none;
    margin: 0 20px;
  }
  
  .menu a:hover {
    text-decoration: underline;
  }

.cartbutton {
  background-color: aqua;
  border-radius: 10px;
}